.header {
    max-width: 1200px;
    height: 396px;
    margin: 0 auto;
    background-image: url("../../assets/images/bg.png");
    background-size: contain;
    background-position: center;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 56px 0;
}
.add-btn {
    padding: 11px 10px;
    background: rgba(96, 96, 96, 0.68);
    border-radius: 4px;
    border: none;
    font: 600 20px/24px Montserrat;
    text-transform: uppercase;
    color: #f65261;
    cursor: pointer;
}

.headline {
    margin: 57px 120px 38px;
    font: 300 40px/49px Montserrat;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}
.search {
    width: 713px;
    height: 57px;
    margin-left: 120px;
    padding-left: 19px;
    font: 400 20px/24px Montserrat;
    outline: none;
    border: none;;
    border-radius: 4px;
    background: rgba(50, 50, 50, 0.8);
    color:#fff;
    opacity: 0.7;
}
.search-btn{
    margin-left: 14px;
    padding: 18px 73px;
    font: 600 20px/24px Montserrat;
    text-transform: uppercase;
    color: #fff;
    border: none;
    background: #F65261;
    border-radius: 4px;
    cursor: pointer;
}